<p><%= @plant.name %></p>
<p><i><%= @plant.latin_name %></i></p>
<p>Min zone: <%= @plant.min_zone %></p>
<p>Max zone: <%= @plant.max_zone %></p>
<p>Distance between plants: <%= @plant.dist_between_plants %> inches</p>
<p>Distance between rows: <%= @plant.dist_between_rows %> inches</p>
<p>Plant <%= @plant.plant_days_from_last_frost %> days from last frost</p>
<p>First harvest <%= @plant.days_to_first_harvest %> days from planting</p>
<p>Harvest length: <%= @plant.harvest_length %> days</p>